 
 body::after {  /* Used to preload images for transitions */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: 
    url(../images/TriRiverBanner2.jpg) 
    url(../images/TriRiverBanner3.jpg)
    url(../images/social-icons/facebook.png)
    url(../images/social-icons/instagram.png);
}


main {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    margin-top: var(--headerHeight);
    margin-bottom: 6vw;
    background-color: var(--tertiaryColour);
    display: flex;
}


.rotating-top-banner {
    top: 6vw;
    left: 39vw;
    width: 30vw;
    height: 19vw;
    position: absolute;
    background: url(../images/TriRiverBanner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.6rem 0.6rem 2rem var(--secondaryColour);
    z-index: 4;
}


.main-intro {
    width: 50%;
    height: 42vw;
    background-color: var(--tertiaryColour);
    color: var(--secondaryColour);
    z-index: 3;
}
.main-logo {
    width: 15vw;
    margin: 3vw 0 0 13vw;
}
.main-intro h1 {
    margin: 4vw 0 0 4vw;
    font-size: 4.4rem;
    font-family: Alta-Caption, Arial, Helvetica, sans-serif;
}
.main-intro h2 {
    margin: 2.2vw 0 0 4vw;
    color: var(--primaryColour);
    font-size: 2.4rem;
    line-height: 1.4;
    font-family: Alta-Light, Arial, Helvetica, sans-serif;
}
.main-intro p {
    margin: 2.8vw 12vw 0 4vw;
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: Givonic-Light, Arial, Helvetica, sans-serif;
}
.main-intro a {
    display: block;
    width: fit-content;
    block-size: fit-content;
    margin: 6.4vw 2.8vw 0 4vw;
    float: right;
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    font-size: 2.2rem;
    line-height: 22px;
    background-color: var(--primaryColour);
    color: white;
    font-family: Alta-Regular, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease 0s;
}
.main-intro a:hover, .main-intro a:focus {
    background-color: var(--hoverColour);
}


.main-gradient {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    position: absolute;
    background: linear-gradient(0deg, var(--secondaryColour), rgba(34, 31, 42, 1) 8%, rgba(34, 31, 42, 0.6) 30%, rgba(34, 31, 42, 0) 60%);
    z-index: 2;
}
.under-banner {
    width: 50%;
    background-image: url(../images/TriRiverBanner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 1;
}


.section-about {
    background-color: var(--primaryColour);
    margin-top: 10vw;
    padding: 2vw 0 1vw;
}
.h2-about {
    font-size: 3.6rem;
    line-height: 1.5;
    text-align: center;
}
.hr-subhead {
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color: var(--tertiaryColour);
    height: 2px;
    /* adding this is a workaround to the hr's height being set to 0
       but I haven't found the underlying issue. */
    min-height: 2px;
    margin: 0.8vw auto 0;
}
.p-about {
    margin: 1vw 7% 0;
    text-align: center;
}


.index-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;
}
.testimonials-sub-heading {
    margin-top: 1.2vw;
    margin-bottom: 1.4vw;
}
.testimonials-top-heading {
    font-size: 4.2rem;
    line-height: 1;
    color: var(--secondaryColour);
    font-family: MaatRounded, Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.index-customer-testimonials{
    margin: 1vw auto;
}

.give-feedback-section {
    margin-top: 0.4vw;
    display: flex;
    width: 96%;
    gap: 0.3%;
}
.give-feedback-section h3 {
    margin-top: 0.15vw;
    font-size: 2.2rem;
    line-height: 1.18;
}
.give-feedback-button {
    display: block;
    width: fit-content;
    block-size: fit-content;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 2.2rem;
    line-height: 1;
    background-color: var(--primaryColour);
    color: white;
    transition: all 0.3s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.give-feedback-button:hover, .give-feedback-button:focus {
    background-color: var(--hoverColour);
}



@media only screen and (max-width: 600px) and (orientation: portrait) {

  hr {
    width: 88%;
  }

  main {
    height: 140vw;
    flex-direction: column;
  }
  .rotating-top-banner {
    display: none;
  }
  .main-intro {
    width: 100%;
    height: fit-content;
  }
  .under-banner {
    width: 96%;
    margin: 0 2%;
    height: 140vw;
    border-radius: 3px;
  }
  .main-gradient {
    display: none;
  }

  .main-logo {
    width: 40vw;
    margin: 2vw auto;
    display: block;
  }
  .main-intro h1 {
    display: none;
  }
  .main-intro h2 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Alta-Regular, Arial, Helvetica, sans-serif;
  }
  .main-intro p {
    font-size: 1.4rem;
    text-align: center;
    padding: 0;
    margin: 0.5vw 2.6vw;
  }
  .main-intro a {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 4vw 2vw 2vw 0
  }


  .section-about h2 {
    font-size: 2.6rem;
    margin-top: 22vw;
  }
  .span-so-about {
    display: none;
  }
  .hr-subhead {
    width: 88%;
  }
  .section-about p {
    font-size: 1.6rem;
    margin-top: 2.4vw;
  }

  .index-testimonials {
    margin-top: 30vw;
  }
  .testimonials-top-heading {
    font-size: 2.8rem;
  }
  .testimonials-sub-heading {
    font-size: 1.8rem;
    font-style: italic;
  }
  .index-customer-testimonials {
    margin: 2vw 3vw;
  }
  .give-feedback-section h3 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-left: 2vw;
  }
  .give-feedback-section a {
    font-size: 1.7rem;
    line-height: 1;
    margin-top: 0.2vw;
  }

}

@media only screen and (max-width: 600px) and (orientation: landscape) {

  

}

@media only screen and (min-width: 601px) {

  

}

@media only screen and (min-width: 768px) {

  

}

@media only screen and (min-width: 992px) {

  

}

@media only screen and (min-width: 1200px) {

  

}