 
 body::after {  /* Used to preload images for transitions */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: 
    url(../images/TriRiverBanner2.jpg) 
    url(../images/TriRiverBanner3.jpg)
    url(../images/social-icons/facebook.png)
    url(../images/social-icons/instagram.png);
}


main {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    margin-top: var(--headerHeight);
    margin-bottom: 6vw;
    background-color: var(--tertiaryColour);
    display: flex;
}


.rotating-top-banner {
    top: 6vw;
    left: 39vw;
    width: 30vw;
    height: 19vw;
    position: absolute;
    background: url(../images/TriRiverBanner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 6px 6px 20px var(--secondaryColour);
    z-index: 4;
}


.main-intro {
    width: 50%;
    height: 42vw;
    background-color: var(--tertiaryColour);
    color: var(--secondaryColour);
    z-index: 3;
}
.main-logo {
    width: 15vw;
    margin: 3vw 0 0 13vw;
}
.main-intro h1 {
    margin: 4.4vw 0 0 4vw;
    font-size: 4.4rem;
    font-family: Alta-Caption, Arial, Helvetica, sans-serif;
}
.main-intro h2 {
    margin: 2vw 0 0 4vw;
    color: var(--primaryColour);
    font-size: 2.4rem;
    font-family: Alta-Light, Arial, Helvetica, sans-serif;
}
.main-intro p {
    margin: 3vw 12vw 0 4vw;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif; /* <--- EDIT FONT */
}
.main-intro a {
    display: block;
    width: fit-content;
    block-size: fit-content;
    margin: 7vw 3vw 0 4vw;
    float: right;
    padding: 3px 4px 3px 4px;
    border-radius: 4px;
    font-size: 2.2rem;
    background-color: var(--primaryColour);
    color: white;
    font-family: Alta-Regular, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease 0s;
}
.main-intro a:hover, .main-intro a:focus {
    background-color: var(--hoverColour);
}


.main-gradient {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    position: absolute;
    background: linear-gradient(0deg, var(--secondaryColour), rgba(34, 31, 42, 1) 8%, rgba(34, 31, 42, 0.6) 30%, rgba(34, 31, 42, 0) 60%);
    z-index: 2;
}
.under-banner {
    width: 50%;
    background-image: url(../images/TriRiverBanner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 1;
}


.section-about {
    background-color: var(--primaryColour);
    margin-top: 10vw;
    padding: 2vw 0 1vw;
}
.h2-about {
    font-size: 3.6rem;
    line-height: 0;
    text-align: center;
}
.hr-subhead {
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color: var(--tertiaryColour);
    height: 2px;
    /* adding this is a workaround to the hr's height being set to 0
       but I haven't found the underlying issue. */
    min-height: 2px;
    margin: 2vw auto 0;
}
.p-about {
    margin: 1vw 7% 0;
    text-align: center;
}


.index-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;
}
.testimonials-sub-heading {
    margin-top: 1.2vw;
    margin-bottom: 1.4vw;
}
.testimonials-top-heading {
    font-size: 4.2rem;
    line-height: 1;
    color: var(--secondaryColour);
    font-family: MaatRounded, Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.index-customer-testimonials{
    margin: 1vw auto;
}

.give-feedback-section {
    margin-top: 0.4vw;
    display: flex;
    width: 96%;
    gap: 0.3%;
}
.give-feedback-section h3 {
    margin-top: 0.2vw;
    font-size: 2.2rem;
    line-height: 2.6rem;
}
.give-feedback-button {
    display: block;
    width: fit-content;
    block-size: fit-content;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    font-size: 2.2rem;
    background-color: var(--primaryColour);
    color: white;
    transition: all 0.3s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.give-feedback-button:hover, .give-feedback-button:focus {
    background-color: var(--hoverColour);
}
