 
 body::after {  /* Used to preload images for transitions */
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: 
    url(../images/TriRiverBanner2.jpg) 
    url(../images/TriRiverBanner3.jpg)
    url(../images/social-icons/facebook.png)
    url(../images/social-icons/instagram.png);
}


main {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    margin-top: var(--headerHeight);
    background-color: var(--tertiaryColour);
    display: flex;
}


.rotating-top-banner {
    top: 13vh;
    left: 39vw;
    width: 30vw;
    height: 40vh;
    position: absolute;
    background: url(../images/TriRiverBanner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 6px 6px 20px var(--secondaryColour);
    z-index: 4;
}


.main-intro {
    width: 50%;
    height: 85vh;
    background-color: var(--tertiaryColour);
    color: var(--secondaryColour);
    z-index: 3;
}
.main-intro h2 {
    margin: 24vh 0 0 4vw;
    color: var(--primaryColour);
    font-size: 24px;
    line-height: 28px;
    font-family: Alta-Light, Arial, Helvetica, sans-serif;
}
.main-intro h1 {
    margin: 7vh 0 0 4vw;
    font-size: 44px;
    line-height: 52px;
    font-family: Alta-Caption, Arial, Helvetica, sans-serif;
}
.main-intro p {
    margin: 4vh 12vw 0 4vw;
    font-size: 22px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif; /* <--- EDIT FONT */
}
.main-intro a {
    display: block;
    width: fit-content;
    block-size: fit-content;
    margin: 6vh 4vw 0 4vw;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 26px;
    background-color: var(--primaryColour);
    color: white;
    font-family: Alta-Regular, Arial, Helvetica, sans-serif;
    transition: all 0.3s ease 0s;
}
.main-intro a:hover, .main-intro a:focus {
    background-color: var(--hoverColour);
}


.main-gradient {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    position: absolute;
    background: linear-gradient(0deg, var(--secondaryColour), rgba(34, 31, 42, 1) 8%, rgba(34, 31, 42, 0.6) 30%, rgba(34, 31, 42, 0) 60%);
    z-index: 2;
}


.under-banner {
    width: 50%;
    background-image: url(../images/TriRiverBanner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 1;
}


.index-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}
.index-testimonials h2 {
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.index-customer-testimonials{
    margin: 2vh auto;
}

.give-feedback-section {
    margin-top: 16px;
    display: flex;
    width: 96%;
    gap: 10px;
}
.give-feedback-section h3 {
    margin-top: 4px;
    font-size: 22px;
    line-height: 26px;
}
.give-feedback-button {
    display: block;
    width: fit-content;
    block-size: fit-content;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 26px;
    background-color: var(--primaryColour);
    color: white;
    transition: all 0.3s ease 0s;
    font-family: Arial, Helvetica, sans-serif;
}
.give-feedback-button:hover, .give-feedback-button:focus {
    background-color: var(--hoverColour);
}
