@font-face {
  font-family: 'MaatRounded';
  src: url(../fonts/Maat_Rounded.woff2)
}
@font-face {
  font-family: 'MontserratAlternates-Medium';
  src: url(../fonts/MontserratAlternates-Medium.woff2)
}
@font-face {
  font-family: 'Alta-Caption';
  src: url(../fonts/Alta_caption.woff2);
}
@font-face {
  font-family: 'Alta-Light';
  src: url(../fonts/Alta_light.woff2);
}
@font-face {
  font-family: 'Alta-Regular';
  src: url(../fonts/Alta_regular.woff2);
}
:root {
  --primaryColour: #e2ccc0; /* #e7ded9 {from ad}, #EEB698 {coral}, #F7D192 {yellow}, #6B7178 {gray} */
  --secondaryColour: #221f2a; 
  --tertiaryColour: #ffffff;
  --hoverColour: #B09F96; /* #427E93 {blue} */

  --headerHeight: 60px;
}


a {
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
  transition: all 0.3s ease 0s;
}
h1{
  font-size: 42px;
  line-height: 50px;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
  font-weight: 540;
}
h2 {
  font-size: 28px;
  line-height: 34px;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
h4 {
  font-size: 28px;
  line-height: 34px;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
p{
  font-size: 24px;
  line-height: 28px;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: var(--primaryColour);
  height: 2px;
  margin: 0 auto;
}


body {
  margin: 0;
  background-color: var(--tertiaryColour);
}
body::after {  /* Used to preload images for transitions */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: 
  url(../images/social-icons/facebook.png)
  url(../images/social-icons/instagram.png);
}


.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--tertiaryColour);
  display: flex;
  justify-content: space-between;
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;
}


.header-main-logo-nav {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  display: flex;
}
.header-main-logo-nav img {
  height: 60px;
  align-self: center;
  transition: all 0.3s ease 0s;
}


.header-main-nav {
  width: fit-content;
  height: 100%;
}
.header-main-nav ul {
  list-style: none;
  margin-left: 30px;
}
.header-main-nav ul li {
  display: inline;
  float: left;
}
.header-vertical-line {
  border-left: 1px solid var(--hoverColour);
  height: calc(var(--headerHeight) * 0.8);
  margin-top: calc(var(--headerHeight) * 0.1);
}
.header-main-nav ul li a {
  padding: 0 10px;
  line-height: var(--headerHeight);
  color: var(--secondaryColour);
  display: block;
  height: 100%;
}
.header-main-nav ul li > .active {
  color: var(--primaryColour);
}
.header-main-nav ul li a:hover, .header-main-nav ul li a:focus {
  color: var(--hoverColour);
}


.header-main-socials {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.socials_icons {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  font-size: 20px;
  margin-right: 2px;
  color: var(--tertiaryColour);
  background-color: var(--secondaryColour);
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
  transition: all 0.3s ease 0s;
}
#contactActive {
  color: var(--primaryColour);
  transition: all 0.3s ease 0s;
}
#contactActive:hover, #contactActive:focus {
  color: var(--hoverColour);
}
.contact:hover, .contact:focus {
  color: var(--hoverColour);
}

#fb_icon { 
  background-image: url(../images/social-icons/facebook-bw.png);
  transition: all 0.3s ease 0s;
}
#fb_icon:hover { 
  background-image: url(../images/social-icons/facebook.png);
}
#ig_icon { 
  background-image: url(../images/social-icons/instagram-bw.png);
  transition: all 0.3s ease 0s;
}
#ig_icon:hover { 
  background-image: url(../images/social-icons/instagram.png);
}


footer {
  width: 100%;
  height: fit-content;
  margin-top: 3vh;
  padding-bottom: 1vh;
  /* box-shadow:  0 4px 0 rgba(0, 0, 0, 0.08), 0 -2px 4px 0 rgba(0, 0, 0, 0.12); */
  background-color: var(--tertiaryColour);
  display: flex;
  flex-direction: column;
}
footer hr {
  margin-bottom: 1vh;
}
footer p {
  font-size: 14px;
  line-height: 24px;
}
footer h3 {
  font-size: 18px;
}
footer a {
  font-size: 18px;
  line-height: 34px;
}
footer a:hover, footer a:focus {
  color: var(--hoverColour);
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-sitemap {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-left: 2px solid var(--hoverColour);
  padding-left: 1%;
}
.footer-sitemap ul li a {
  display: block;
  font-size: 20px;
}
.footer-sitemap ul li .active {
  color: var(--hoverColour);
}
.footer-address {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.footer-address ul li a {
  font-size: 14px;
  line-height: 24px;
  display: block;
}
.footer-text {
  width: 20%;
  height: fit-content;
  align-self: center;
  margin: 2vh 3%;
}
.footer-contact {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.footer-contact ul li a {
  font-size: 14px;
  line-height: 24px;
  display: block;
}
.footer-contact ul li:last-child {
  padding-bottom: 1vh;
}
.footer-a-heading {
  color: var(--primaryColour);
}