@font-face {
  font-family: 'MaatRounded';
  src: url(../fonts/Maat_Rounded.woff2)
}
@font-face {
  font-family: 'MontserratAlternates-Medium';
  src: url(../fonts/MontserratAlternates-Medium.woff2)
}
@font-face {
  font-family: 'Alta-Caption';
  src: url(../fonts/Alta_caption.woff2);
}
@font-face {
  font-family: 'Alta-Light';
  src: url(../fonts/Alta_light.woff2);
}
@font-face {
  font-family: 'Alta-Regular';
  src: url(../fonts/Alta_regular.woff2);
}
:root {
  --primaryColour: #e2ccc0; /* #e7ded9 {from ad}, #EEB698 {coral}, #F7D192 {yellow}, #6B7178 {gray} */
  --secondaryColour: #221f2a; 
  --tertiaryColour: #ffffff;
  --hoverColour: #B09F96; /* #427E93 {blue} */

  --headerHeight: 60px;

  font-size: 62.5%;
}


a {
  cursor: pointer;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
  transition: all 0.3s ease 0s;
}
button {
  cursor: pointer;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  background-color: var(--primaryColour);
  color: var(--tertiaryColour);
  padding: 0.3vw 0.5vw 0.1vw 0.4vw;
  transition: all 0.3s ease 0s;
}
button:hover, button:focus {
  background-color: var(--hoverColour);
}
h1{
  font-size: 4.2rem;
  line-height: 1.85;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.75;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.75;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
h4 {
  font-size: 2.8rem;
  line-height: 1.65;
  color: var(--secondaryColour);
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
p{
  font-size: 2.4rem;
  line-height: 1.3;
  color: var(--secondaryColour);
  font-family: MaatRounded, Arial, Helvetica, sans-serif;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: var(--primaryColour);
  height: 2px;
  margin: 0 auto;
}
.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, var(--tertiaryColour) 49%,  var(--primaryColour) 50%);
}
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, var(--primaryColour) 49%, var(--tertiaryColour) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
.skew-cc-toright{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, var(--tertiaryColour) 49%, var(--primaryColour) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}


body {
  margin: 0;
  background-color: var(--tertiaryColour);
  width: 100%;
}
body::after {  /* Used to preload images for transitions */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: 
  url(../images/social-icons/facebook.png)
  url(../images/social-icons/instagram.png);
}


.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--tertiaryColour);
  display: flex;
  justify-content: space-between;
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;
}


.header-main-logo-nav {
  width: fit-content;
  height: 100%;
  padding-left: 6rem;
  display: flex;
}
.header-main-logo-nav img {
  height: 60px;
  align-self: center;
  transition: all 0.3s ease 0s;
}


.header-main-nav {
  width: fit-content;
  height: 100%;
}
.header-main-nav ul {
  list-style: none;
  margin-left: 2.2rem; /* how close the nav is to the logo */
}
.header-main-nav ul li {
  display: inline;
  float: left;
}
.header-vertical-line {
  border-left: 0.1rem solid var(--hoverColour);
  height: calc(var(--headerHeight) * 0.8);
  margin-top: calc(var(--headerHeight) * 0.1);
}
.header-main-nav ul li a {
  padding: 0 10px;
  line-height: var(--headerHeight);
  color: var(--secondaryColour);
  display: block;
  height: 100%;
}
.header-main-nav ul li > .active {
  color: var(--primaryColour);
}
.header-main-nav ul li a:hover, .header-main-nav ul li a:focus {
  color: var(--hoverColour);
}


.header-main-socials {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.socials_icons {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  font-size: 2rem;
  line-height: 20px;
  margin-right: 2px;
  color: var(--tertiaryColour);
  background-color: var(--secondaryColour);
  border-radius: 10px;
  padding: 6px;
  font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
  transition: all 0.3s ease 0s;
}
#contactActive {
  color: var(--primaryColour);
  transition: all 0.3s ease 0s;
}
#contactActive:hover, #contactActive:focus {
  color: var(--hoverColour);
}
.contact:hover, .contact:focus {
  color: var(--hoverColour);
}

#fb_icon { 
  background-image: url(../images/social-icons/facebook-bw.png);
  transition: all 0.3s ease 0s;
}
#fb_icon:hover, #fb_icon:focus { 
  background-image: url(../images/social-icons/facebook.png);
}
#ig_icon { 
  background-image: url(../images/social-icons/instagram-bw.png);
  transition: all 0.3s ease 0s;
}
#ig_icon:hover, #ig_icon:focus { 
  background-image: url(../images/social-icons/instagram.png);
}


footer {
  width: 100%;
  height: fit-content;
  margin-top: 1.4vw;
  padding-bottom: 0.5vw;
  /* box-shadow:  0 4px 0 rgba(0, 0, 0, 0.08), 0 -2px 4px 0 rgba(0, 0, 0, 0.12); */
  background-color: var(--tertiaryColour);
  display: flex;
  flex-direction: column;
}
footer hr {
  margin-bottom: 0.5vw;
}
footer p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
footer h3 {
  font-size: 1.8rem;
}
footer a {
  font-size: 1.8rem;
  line-height: 3.4rem;
}
footer a:hover, footer a:focus {
  color: var(--hoverColour);
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-sitemap {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-left: 2px solid var(--hoverColour);
  padding-left: 1%;
}
.footer-sitemap ul li a {
  display: block;
  font-size: 2rem;
}
.footer-sitemap ul li .active {
  color: var(--hoverColour);
}
.footer-address {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.footer-address ul li a {
  font-size: 1.4rem;
  line-height: 1.7;
  display: block;
}
.footer-text {
  width: 20%;
  height: fit-content;
  align-self: center;
  margin: 2vh 3%;
}
.footer-contact {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.footer-contact ul li a {
  font-size: 1.4rem;
  line-height: 1.7;
  display: block;
}
.footer-contact ul li:last-child {
  padding-bottom: 0.5vw;
}
.footer-a-heading {
  color: var(--primaryColour);
}
.footer-exp-logo {
  display: none;
}

.burger-menu-button, .burger-menu {
  display: none;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {

  .header-main-logo-nav {
    padding-left: 1rem;
  }
  .header-main-nav {
    display: none;
  }
  .header-main-socials {
    padding-right: 0;
    column-gap: 1.4vw;
  }
  .socials_icons {
    display: none;
  }
  .contact {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .burger-menu-button {
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 3.6vw;
    background-image: url(../images/icons/burger-menu-open.png), url(../images/icons/burger-menu-close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }
  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    z-index: 105;
    background-color: var(--tertiaryColour);
  }
  .burger-menu ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-top: 2px solid var(--primaryColour);
  }
  .burger-menu ul li {
    flex-basis: 100%;
    margin: 0 6%;
    border-top: 2px solid var(--secondaryColour);
  }
  .burger-menu ul li:first-child {
    flex-basis: 100%;
    margin: 0 6%;
    border-top: 0;
  }
  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
    color: var(--secondaryColour);
  }
  .burger-trc-logo {
    width: 70%;
    display: block;
    margin: 12% auto;
  }
  .burger-socials-wrapper {
    display: flex;
    justify-content: center;
    gap: 24vw;
    margin-top: 20%;
    padding-top: 8.5%;
    border-top: 2px solid var(--primaryColour);
  }
  .social-icons-burger {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
  }


  footer hr {
    margin: 1.4vw auto;
  }
  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content 1fr;
  }
  .footer-text {
    display: none;
  }
  .footer-sitemap {
    grid-column-start: 2;
    grid-row-start: 1;
    border-left: 0;
    border-right: 2px solid var(--hoverColour);
    padding: 0 5% 0 0;
    text-align: right;
    margin-left: 8vw;
    margin-top: 4vw;
  }
  .footer-address{
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0 0 1vw 4vw
  }
  .footer-contact {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 1vw 0 0 4vw;
  }
  .footer-exp-logo {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 20vw;
    margin-left: 23vw;
    display: block;
    width: 40%;
  }

}

@media only screen and (max-width: 600px) and (orientation: landscape) {

  

}

@media only screen and (min-width: 601px) {

  

}

@media only screen and (min-width: 768px) {

  

}

@media only screen and (min-width: 992px) {

  

}

@media only screen and (min-width: 1200px) {



}