main {
    width: 100%;
    height: calc(100vh - var(--headerHeight)); 
    margin-top: var(--headerHeight);
    background-color: var(--tertiaryColour);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.meet-team-hr {
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color: var(--primaryColour);
    height: 2px;
    margin: 0 auto;
}


.team-member-profiles-leadership {
    width: 100%;
    display: flex;
    column-gap: 2vw;
    justify-content: space-around;
    padding: 0 25%;
}
.team-member-profiles-agents-row1 {
    width: 100%;
    display: flex;
    column-gap: 2vw;
    justify-content: space-around;
}
.team-member-profiles-admin {
    width: 100%;
    display: flex;
    column-gap: 2vw;
    justify-content: space-around;
    padding: 0 25%;
}


.team-member-headshot {
    width: 240px;
    height: 400px;
    text-align: center;
}
.team-member-headshot img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}


 /* object-position is used to shift the image to the correct spot within it's container. */
#gabby-murillo img { 
    object-position: 0 23%;
}
#rj-peace img {
    object-position: 0 11%;
}
#antwanne-best img {
    object-position: 0 18%;
}
#jaquise-johnson img {
    object-position: 0 8%;
}
#tokiya-ball img {
    object-position: 0 1%;
}
#drevin-morrow img {
    object-position: 0 20%;
}
#jayne-hartman img {
    object-position: 0 15%;
}
#man1 img {
    object-position: 0 19%;
}