main {
    width: 100%;
    height: fit-content; 
    margin-top: var(--headerHeight);
    background-color: var(--tertiaryColour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
}
.hr-subhead {
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color: var(--primaryColour);
    height: 2px;
    /* adding this is a workaround to the hr's height being set to 0
       but I haven't found the underlying issue. */
    min-height: 2px;
    margin: 0 auto;
}

.team-member-profiles-row1 {
    width: fit-content;
    margin-top: 2.4vw;
    display: flex;
    justify-content: row;
    gap: 2.6vw;
}
.team-member-profiles-row2 {
    width: fit-content;
    margin-top: 1vw;
    display: flex;
    justify-content: row;
    gap: 2.6vw;
}
.team-member-headshot {
    width: 12vw; /* this should be at least the same width as the headshot image */
    height: fit-content;
    text-align: center;
}
.img-headshot {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}
.team-member-headshot h4 {
    font-size: 2.4rem;
    font-family: Givonic-Light, Arial, Helvetica, sans-serif;
}
.team-member-headshot p {
    color: var(--primaryColour);
    font-size: 2rem;
}

 /* object-position is used to shift the image to the correct spot within it's container. */
#gabby-murillo img { 
    object-position: 0 23%;
}
#rj-peace img {
    object-position: 0 11%;
}
#antwanne-best img {
    object-position: 0 18%;
}
#jaquise-johnson img {
    object-position: 0 8%;
}
#andrea-perez img {
    object-position: 0 19%;
}
#drevin-morrow img {
    object-position: 0 20%;
}
#jayne-hartman img {
    object-position: 0 15%;
}

/* BELOW PORTRAITS */
.h2-whyus {
    margin: 3vw 0 2vw;
    font-size: 3.6rem;
    line-height: 0;
}
.p-whyus {
    margin: 2vw 7% 0;
}


.a-forbuyers {
    margin: 2vw 12% 0;
    font-size: 3.2rem;
    line-height: 0;
    align-self: flex-start;
    color: var(--primaryColour);
    text-decoration: underline;
    text-decoration-color: var(--hoverColour);
    font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
    z-index: 15;
}
.p-forbuyers {
    margin: 2vw 10% 0;
    z-index: 15;
}
.a-forsellers {
    margin: 2vw 12% 0;
    font-size: 3.2rem;
    line-height: 0;
    align-self: flex-start;
    color: var(--primaryColour);
    text-decoration: underline;
    text-decoration-color: var(--hoverColour);
    font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
    z-index: 15;
}
.p-forsellers {
    margin: 2vw 10% 0;
    z-index: 15;
}


.team-member-profiles-row1-mobile, .team-member-profiles-row2-mobile, .team-member-profiles-row3-mobile {
    display: none;
    width: fit-content;
    justify-content: row;
    gap: 6vw;
    margin-top: 4vw;
}


@media only screen and (max-width: 600px) and (orientation: portrait) {

    main h1 {
        font-size: 3.4rem;
        line-height: 3.4rem;
        margin-bottom: 0;
        margin-top: 4.6vw;
    }
    .hr-subhead {
        width: 71%;
        margin-top: 1vw;
    }


    .team-member-profiles-row1, .team-member-profiles-row2 {
        display: none;
    }
    .team-member-profiles-row1-mobile, .team-member-profiles-row2-mobile, .team-member-profiles-row3-mobile {
        display: flex;
    }
    .team-member-profiles-row1-mobile {
        margin-top: 6vw;
    }
    .team-member-headshot {
        width: 25vw; /* this should be at least the same width as the headshot image */
        height: fit-content;
        text-align: center;
    }
    .img-headshot {
        width: 23vw;
        height: 23vw;
    }
    .team-member-headshot h4 {
        font-size: 1.6rem;
        line-height: 1.7rem;
    }
    .team-member-headshot p {
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-top: 1vw;
    }


    .h2-whyus {
        font-size: 3.4rem;
        line-height: 3.2rem;
        margin-top: 10vw;
    }
    .span-whyus-shouldyou {
        display: none;
    }
    .p-whyus {
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;
        margin-top: 3vw;
    }
    .a-forbuyers {
        margin: 8vw 7% 0;
        font-size: 2.6rem;
        text-decoration-thickness: 2px;
    }
    .p-forbuyers {
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;
        margin-top: 6vw;
    }
    .a-forsellers {
        margin: 7vw 7% 0;
        font-size: 2.6rem;
        text-decoration-thickness: 2px;
    }
    .p-forsellers{
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;
        margin-top: 6vw;
    }

  }
  
  @media only screen and (max-width: 600px) and (orientation: landscape) {
  
    
  
  }
  
  @media only screen and (min-width: 601px) {
  
    
  
  }
  
  @media only screen and (min-width: 768px) {
  
    
  
  }
  
  @media only screen and (min-width: 992px) {
  
    
  
  }
  
  @media only screen and (min-width: 1200px) {
  
    
  
  }