main {
    width: 100%;
    height: fit-content; 
    margin-top: var(--headerHeight);
    background-color: var(--tertiaryColour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.hr-subhead {
    border: 0;
    clear:both;
    display:block;
    width: 60%;               
    background-color: var(--primaryColour);
    height: 2px;
    /* adding this is a workaround to the hr's height being set to 0
       but I haven't found the underlying issue. */
    min-height: 2px;
    margin: 0 auto;
}


.h2-leadership {
    margin: 2vh 0 4vh 0;
    text-decoration: underline;
    text-decoration-color: var(--hoverColour);
}
.team-member-profiles-leadership {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 12.5%;  /* padding 0 25% for 2 people */
}
.h2-agents {
    margin: 6vh 0 4vh 0;
    text-decoration: underline;
    text-decoration-color: var(--hoverColour);
}
.team-member-profiles-agents-row1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 12.5%;
}
.h2-admin {
    margin: 8vh 0 4vh 0;
    text-decoration: underline;
    text-decoration-color: var(--hoverColour);
}
.team-member-profiles-admin {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 12.5%;
}
.team-member-headshot {
    width: 12vw; /* this should be the same width as the headshot image */
    height: fit-content;
    text-align: center;
}
.img-headshot {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    object-fit: cover;
}
.team-member-headshot p {
    color: var(--primaryColour);
    font-size: 2.2rem;
}

 /* object-position is used to shift the image to the correct spot within it's container. */
#gabby-murillo img { 
    object-position: 0 23%;
}
#rj-peace img {
    object-position: 0 11%;
}
#antwanne-best img {
    object-position: 0 18%;
}
#jaquise-johnson img {
    object-position: 0 8%;
}
#andrea-perez img {
    object-position: 0 19%;
}
#drevin-morrow img {
    object-position: 0 20%;
}
#jayne-hartman img {
    object-position: 0 15%;
}

/* BELOW PORTRAITS */
.h2-about {
    margin: 12vh 0 5vh;
    font-size: 3.6rem;
    line-height: 0;
}
.p-about {
    margin: 5vh 7% 0;
}

.h2-whyus {
    margin: 7vh 0 5vh;
    font-size: 3.6rem;
    line-height: 0;
}
.p-whyus {
    margin: 4vh 7% 0;
}

.a-forbuyers {
    margin: 5vh 12% 0;
    font-size: 3.2rem;
    line-height: 0;
    align-self: flex-start;
    color: var(--primaryColour);
    text-decoration: underline;
    font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
.p-forbuyers {
    margin: 5vh 10% 0;
}
.a-forsellers {
    margin: 5vh 12% 0;
    font-size: 3.2rem;
    line-height: 0;
    align-self: flex-start;
    color: var(--primaryColour);
    text-decoration: underline;
    font-family: MontserratAlternates-Medium, Arial, Helvetica, sans-serif;
}
.p-forsellers {
    margin: 4vh 10% 0;
}